:root {
    --base-font-size: 18px;
}

body {
    font-size: var(--base-font-size);
}

input, button, table {
    font-size: 1em;
}

.tabs-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.tabs-scroll::-webkit-scrollbar {
  height: 10px;
}

.tabs-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.nav-tabs .nav-link {
  white-space: nowrap;
  font-size: 1.1em;
  padding: 0.6em 1em;
}
