:root {
    --base-font-size: 18px;
}

body {
    font-size: var(--base-font-size);
}

input, button, table {
    font-size: 1em;
}

.tabs-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.tabs-scroll::-webkit-scrollbar {
  height: 10px;
}

.tabs-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.nav-tabs .nav-link {
  white-space: nowrap;
  font-size: 1.1em;
  padding: 0.6em 1em;

  background-color: #f2f2f2;
  margin-right: 4px;
  border: 2px solid #ccc;
}

.nav-tabs .nav-link.active {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
  border-color: #0a58ca;
}

button, .btn, input {
  min-height: 48px;
}

table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

td.monto {
    text-align: right;
    font-weight: bold;
    font-size: 1.1em;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

.input-shake {
  animation: shake 0.3s;
}
